@media (min-width: 768px) {
    .m-form .form-control-label,
    .m-form label.nomeEscrita {
        font-size: 36px;
    }
    .m-radio.nomeEscrita>span {
        margin-top: 1.3rem;
    }
}
@media (max-width: 768px) {
    .m-form .form-control-label,
    .m-form label.nomeEscrita {
        font-size: 18px;
    }
    .m-radio.nomeEscrita>span {
        margin-top: 0.3rem;
    }
}
